<div cache="person"></div>
<h3>Person details in State 1</h3>

<span class="input input-350px">
    <input required ng-model="person.firstName" class="appverse-input-field" type="text" id="firstName">
    <label class="appverse-input-label" for="first_name">
        <span class="appverse-input-label-content">State 1 name</span>
    </label>
</span>

<span class="input input-350px">
    <input required ng-model="person.lastName" class="appverse-input-field" type="text" id="lastName">
    <label class="appverse-input-label" for="last_name">
        <span class="appverse-input-label-content">State 1 last name</span>
    </label>
</span>