<a href="#mobileBrowser"><i class="fa fa-fw fa-tablet"></i><span>Detection</span></a>
<a href="#cachedValue"><i class="fa fa-fw fa-database"></i><span>Cache</span></a>
<a href="#poolSize"><i class="fa fa-fw fa-bolt"></i><span>Performance</span></a>
<a href="#translation"><i class="fa fa-fw fa-language"></i><span>Translation</span></a>
<a href="#bandwidthStartBtn"><i class="fa fa-fw fa-area-chart"></i><span>Bandwidth</span></a>
<a href="#rest"><i class="fa fa-fw fa-cloud-download"></i><span>REST</span></a>