<header class="appverse-header horizontal-gradient">
    <ng-include src="'partials/logo.html'"></ng-include>
    <h1><i class="fa fa-fw fa-tablet"></i>Detection</h1>
</header>

<section>
    <div class="section-content">
        <h2>Detect Device</h2>
        <p><strong>Mobile Browser:</strong> <span ng-cloak id="mobileBrowser">{{isMobileText}}</span></p>
    </div>
</section>


<section>
    <div class="section-content">
        <h2>Detect Appverse Mobile</h2>
        <p><strong>Appverse Mobile library loaded:</strong> <span ng-cloak id="appverseMobile">{{hasAppverseMobile}}</span></p>
    </div>
</section>


<section>
    <div class="section-content">
        <h2>Bandwidth</h2>
        <button id="bandwidthStartBtn"class="btn btn-primary btn-lg" ng-click="detection.startPollingBandwidth(3000)">Start Polling</button>
        <button id="bandwidthStopBtn" class="btn btn-danger btn-lg" ng-click="detection.stopPollingBandwidth()">Stop Polling</button>
        <p>Sample:<span id="bandwidthValue">{{detection.bandwidth}}</span> Kbytes/s</p>
        <div class="row">
            <div class="col-md-8">
                <!-- Unstable with e2e tests in phantomjs. Enable only for real browsers in app.js -->
                <div id="chartContainer" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</section>
