<header class="appverse-centered-header horizontal-gradient ">
    <img class="img-responsive" src="images/angular.png" alt="">
    <h1>Appverse Web <span>HTML5 Core</span> <span>Demo showcase for e2e tests</span> <span><code>$ grunt e2e</code></span></h1>
</header>
<section>
    <div class="section-content">
        <p>Introduction...</p>
</section>
<section>
    <div class="section-content">
        <h2>Resources</h2>
        <ul>
            <li><a href="https://github.com/Appverse/appverse-web-html5">Source for the Incubator</a></li>
            <li><a href="http://appverse.github.io/appverse-web/">Appverse Web Main Page</a></li>
            <li><a href="https://github.com/Appverse/appverse-web-html5-boilerplate">Quick Start</a></li>
            <li><a href="">API Reference</a> (Coming soon)</li>
            </ul>
        </div>
</section>
<section>
    <div class="section-content">
        <h2>Available Modules</h2>
        <p>Have a look at the features</p>
        <nav class="appverse-modules">
            <ng-include src="'partials/core-modules-links.html'"></ng-include>
        </nav>
    </div>
</section>


