<header class="appverse-header horizontal-gradient">
    <ng-include src="'partials/logo.html'"></ng-include>
    <h1><i class="fa fa-fw fa-plug"></i>Web sockets</h1>
</header>


<section>
    <div class="section-content">
        <h2>Support</h2>

        <p ng-show="wsSupported" id="webSocketSupp">
            <i class="fa fa-check"></i> {{ wsIsSupportedMessage }}
        </p>

        <p ng-hide="wsSupported" id="noWebSocketSupp">
            <i class="fa fa-times-circle"></i> {{ wsIsNotSupportedMessage }}.
            The <a href="http://caniuse.com/#feat=websockets">following link</a> lists the browsers that support WebSockets.
        </p>

        <h2>Real Time CPU load demo</h2>


        <p><strong>Instructions:</strong></p>wsserver
        <table class="instructions" cellspacing="0px" cellpadding="2px">
            <tr>
            <td valign="top" nowrap>Step 0: &nbsp;</td>
            <td valign="top">In local dev environments, run <code>grunt wsserver</code> to start a fake Websockets server</td>
          </tr>
          <tr>
            <td valign="top" nowrap>Step 1: &nbsp;</td>
            <td valign="top">Press the <strong>Start</strong> button.</td>
          </tr>
          <tr>
            <td valign="top" nowrap>Step 2: &nbsp;</td>
            <td valign="top">Once connected, you will see the CPU load in the graphic.</td>
          </tr>
          <tr>
            <td valign="top" nowrap>Note: &nbsp;</td>
            <td valign="top">In some environments the WebSocket connection may fail due to intermediary firewalls, proxies, routers, etc. In that case take advantage of WebSocket's secure capability and check<strong> Use secure WebSocket (TLS)</strong>. Even if you have no issues you can still feel free to test using a secure connection.</td>
          </tr>
        </table>

        <div ng-hide="realTimeStats.running">
            <button class="btn btn-primary" ng-click="realTimeStats.start()">Start</button>
        </div>

        <div ng-show="realTimeStats.running">
            <button class="btn btn-danger" ng-click="realTimeStats.stop()">Stop</button>
        </div>

        <!-- Unstable with e2e tests in phantomjs. Enable only for real browsers in app.js -->
        <div id="chartContainer" style="height: 300px;"></div>


    </div>
</section>
